<div id="filter-modal" role="dialog" aria-modal="true" class="modal hidden">
  <div class="modal-dialog">
    <button class="modal-close" aria-label="閉じる">×</button>
    <%= render 'tasks/filter_buttons' %>
  </div>
</div>